li{
    font-size: 25px;
    display: inline;
    margin: 0 5px 0 5px;
}

.profpic{
    height : 280px;
    width : 240px;
    border: 0.2em solid red;
    /* float: left; */
    margin-right: 10px;
    border-radius: 5%;
    transition: all 1s ease .5s;
    margin: 0;
}

.social{
    width: 25px;
    height: 25px;
}

.social:hover{
    background-color: rgba(65, 105, 225, 0.712);
}

p{
    transition: all 1s ease .5s;
    cursor: pointer;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.7em;
    background-color: rgba(42, 118, 204, 0.342);
    margin: 0px 0px 0px 0px;
}

.profpic:hover{
transform : scale(1.2) translate(10%, 10%) ;
animation: ease-out;
}

.content{
    display: grid;
    grid-template-columns: 250px 1fr;
    }

nav{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.ul1{
    display: inline-block;
    grid-column-start:1;
    grid-column-end:2;
}

.ul2{
    display: inline-block;
    grid-column-start: 2;
    grid-column-end:3;
}
.ul3{
    display: inline-block;
    grid-column-start: 3;
    grid-column-end:4;
}